{
  "extends": [
    "react-app",
    "react-app/jest",
    "airbnb",
    "airbnb/hooks",
    "prettier"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/function-component-definition": "off",
    "react/jsx-no-constructed-context-values": "off"
  }
}
